{
  "presets": [["env", {"modules": false}], "react"],
  "env": {
    "development": {
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": [["env", {"targets": {"node": true}}], "react"]
    }
  }
}
